body {
  padding: 0px;
  margin: 0px;
}

.landing {
  position: relative;
  width: 1600px;
  height: 4105px;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0 auto; /* выравниваем наше тело сайта по центру страницы */
}

/* FIRST PAGE */
.firstpage {
  width: 1600px;
  height: 744px;
  background-image: url(bgimage.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Text1stPage {
  width: 738px;
  height: 220px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.Text1stPage h1 {
  width: 100%;
  height: 70px;
  font-size: 64px;
  font-weight: bold;
  margin: 0px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #ffffff;
}

.Text1stPage p {
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.Text1stPage button {
  width: 186px;
  height: 46px;
  background-color: #00afdb;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

.Text1stPage button:hover {
  background-color: #009cc2;
  cursor: pointer;
}

/* menu */

.menuGlobal {
  width: 590px;
  height: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
  margin-top: 30px;
}

.menuGlobal p {
  width: 38px;
  height: 20px;
  font-size: 13px;
}

.menuGlobal p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menuGlobal img {
  width: 44px;
  height: 44px;
}

/* logos */

.icon {
  width: 197px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.icon a {
  width: 20px;
  height: 20px;
}

.icon a img {
  width: 20px;
  height: 20px;
}

.icon a img:hover {
  transform: scale(1.5);
  transition: 0.5s;
  cursor: pointer;
}

/* SECOND PAGE */

.secondpage {
  width: 1600px;
  height: 850px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
}

#ContentImage1 {
  width: 407px;
  height: 582px;
  margin-right: 100px;
}

.Text2ndPage {
  width: 420px;
  height: 248px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 6px;
  margin-left: 90px;
}

.Text2ndPage h2 {
  width: 100%;
  height: 56px;
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #373737;
  margin: 0px;
}

.Text2ndPage p {
  width: 100%;
  height: 80px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #4e4e4e;
  margin: 10px 0px;
}
.Text2ndPage button {
  width: 184px;
  height: 46px;
  background-color: #00afdb;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.Text2ndPage button:hover {
  background-color: #009cc2;
  cursor: pointer;
}

/* THIRD PAGE */

.thirdpage {
  width: 1600px;
  height: 504px;
  background: #f5f6f7;
  border: 2px solid rgba(255, 0, 0, 0);
}

.Text3dPage {
  width: 300px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px 20px;
  margin: 120px 50px 120px 240px;
}

.Text3dPage img {
  width: 45px;
  height: 45px;
}

.Text3dPage h3 {
  width: 180px;
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 1.8px;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #373737;
}

.Text3dPage p {
  width: 298px;
  height: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0px;
  color: #4e4e4e;
}

#ContentImage3 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 708px;
  top: 1707px;
  background: url(pexels-thisisengineering-3861972.jpg), #c4c4c4;
}

#ContentImage4 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 1144px;
  top: 1707px;
  background: url(pexels-thisisengineering-3862610.jpg),
    url(pexels-thisisengineering-3861972.jpg), #c4c4c4;
}

#ContentImage5 {
  position: absolute;
  width: 20px;
  height: 244px;
  left: 1579px;
  top: 1707px;

  background: url(pexels-thisisengineering-3861958.jpg),
    url(pexels-thisisengineering-3861972.jpg), #c4c4c4;
}

#arrowleft {
  position: absolute;
  width: 8px;
  height: 11.31px;
  left: 1250px;
  top: 1672px;
  box-sizing: border-box;
}

#num {
  position: absolute;
  width: 50px;
  height: 18px;
  left: 1272px;
  top: 1652px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: right;
  color: #373737;
}

#arrowright {
  position: absolute;
  width: 8px;
  height: 11.31px;
  left: 1324px;
  top: 1672px;
  box-sizing: border-box;
}

/* FOURTH PAGE */

.fourthpage {
  width: 1600px;
  height: 835px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

.fourthpage img {
  width: 407px;
  height: 582px;
  margin-left: 280px;
  background: url(pexels-thisisengineering-3861964.jpg);
}

.Text4thPage {
  width: 420px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-right: 368px;
}

.Text4thPage h2 {
  width: 350px;
  height: 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #373737;
  margin: 0px;
}

.Text4thPage p {
  width: 408px;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4e4e4e;
  margin: 10px 0px;
}

.Text4thPage button {
  width: 184px;
  height: 46px;
  background-color: #00afdb;
  border-bottom: none;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.Text4thPage button:hover {
  background-color: #009cc2;
  cursor: pointer;
}

/* FIFTH PAGE */

.fifthhpage {
  position: absolute;
  width: 1600px;
  height: 506px;
  left: 0px;
  top: 3000px;
}

#bgimage2 {
  position: absolute;
  width: 1602px;
  height: 523px;
  left: 0px;
  top: 2930px;
}

#phrase8 {
  position: absolute;
  width: 400px;
  height: 28px;
  left: 610px;
  top: 3110px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

#email {
  position: absolute;
  width: 314px;
  height: 46px;
  left: 596px;
  top: 3188px;
  background: #ffffff;
  border-radius: 0px;
  padding-left: 22px;
}

.checkButton {
  position: absolute;
  width: 66px;
  height: 52px;
  left: 936px;
  top: 3188px;
  background-color: #00afdb;
  border-radius: 0px;
}

.checkButton:hover {
  background-color: #009cc2;
  cursor: pointer;
}

.checkButton img {
  position: absolute;
  top: 18px;
  left: 25px;
  width: 16px;
  height: 13px;
}

/* SIXTH PAGE */

.sixthpage {
  position: absolute;
  width: 1600px;
  height: 464px;
  left: 0px;
  top: 3454px;
  background: #f5f6f7;
}

#phrase9 {
  position: absolute;
  width: 300px;
  height: 28px;
  left: 675px;
  top: 94px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #373737;
}

#phrase10 {
  position: absolute;
  width: 480px;
  height: 40px;
  left: 558px;
  top: 154px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4e4e4e;
}
.applestore {
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  width: 127px;
  height: 46px;
  left: 598px;
  top: 237px;
  border: none;
  background: #00afdb;
  border-radius: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.applestore:hover {
  background-color: #009cc2;
  cursor: pointer;
}

#apple {
  position: absolute;
  width: 59px;
  height: 46px;
  left: 725px;
  top: 237px;
  background: #009cc2;
  border-radius: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

.playmarket {
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  width: 127px;
  height: 46px;
  left: 812px;
  top: 237px;
  border: none;
  background: #00afdb;
  border-radius: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.playmarket:hover {
  background-color: #009cc2;
  cursor: pointer;
}

#android {
  position: absolute;
  width: 59px;
  height: 46px;
  left: 939px;
  top: 237px;
  background: #009cc2;
  border-radius: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

/* BUTTOM PAGE */

footer {
  position: absolute;
  width: 1600px;
  height: 185px;
  left: 0px;
  top: 3920px;
  background: #000000;
}

.downmenu {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #818181;
}

.downMenuAnimation:hover {
  text-decoration: underline;
  cursor: pointer;
}

#credits {
  position: absolute;
  width: 45px;
  height: 20px;
  left: 161px;
  top: 61px;
}

#privacy {
  position: absolute;
  width: 46px;
  height: 20px;
  left: 246px;
  top: 61px;
}

#Ourtearms {
  position: absolute;
  width: 88px;
  height: 20px;
  left: 325px;
  top: 61px;
}
#author {
  position: absolute;
  width: 170px;
  height: 20px;
  left: 1270px;
  top: 61px;
}

#icon1 {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 778px;
  top: 59px;
}
